<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohaibaijaz.sawaari">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_sawaari"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings.ChangeEmailActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".Settings.PushNotificationsActivity" />
        <activity android:name=".Settings.NotificationsActivity" />
        <activity
            android:name=".Settings.VerifyPhoneNoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Settings.ChangePhoneNumberActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Settings.VerifyPasswordChangePhoneNumber_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Settings.VerifyPasswordTwoStepVerification_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Settings.TwoStepVerificationActivity" />
        <activity android:name=".Settings.SecurityActivity" />
        <activity android:name=".Settings.DeleteAccount_Activity" />
        <activity
            android:name=".Settings.VerifyPasswordDeleteAccount_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Settings.PrivacyActivity" />
        <activity android:name=".Maps.LocationFragment" />
        <activity android:name=".Maps.LocationActivity" />
        <activity android:name=".Maps.SavedPlace" />
        <activity android:name=".UserRidesDetailActivity" />
        <activity android:name=".Rides.ShowRides" />
        <activity android:name=".Rides.BusActivity" />
        <activity android:name=".Rides.SelectedRideActivity" />
        <activity android:name=".Rides.ConfirmRideBooking" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Settings.UpdateActivity" />
        <activity android:name=".Settings.Verifypassword"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Settings.Updatepassword" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCxh6jiboDAWzR7c_373KDStrtj2W4Sgg4" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".VerifyPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordVerify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragments.RideFragmentN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name="Rides.BusActivity" -->
        <!-- android:noHistory="true" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>